<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </div>
  <input type="text"
         class="form-control sc-rounded-right"
         close-text="Close"
         datepicker-options="dateOptions"
         datepicker-popup="EEE, d MMM y"
         disabled
         is-open="opened"
         ng-model="model"
         ng-required="true"
         show-button-bar="false"/>
</div>