<div class="form-group form-inline">

  <div class="form-group form-inline" ng-class="{'has-error': !valid.start}">
    <input type="text"
           class="form-control sc-form-control sc-small"
           name="start"
           ng-blur="validate()"
           ng-model="model.start"
           placeholder="Start time"/>
  </div>

  <span class="sc-form-control">to</span>

  <div class="form-group form-inline" ng-class="{'has-error': !valid.end}">
    <input type="text"
           class="form-control sc-form-control sc-small"
           name="end"
           ng-blur="validate()"
           ng-model="model.end"
           placeholder="End time"/>
  </div>

  <span class="sc-form-control">on</span>

  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open($event)">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </div>
    <input type="text"
           class="form-control sc-rounded-right"
           close-text="Close"
           datepicker-options="dateOptions"
           datepicker-popup="EEE, d MMM y"
           disabled
           is-open="opened"
           ng-model="model.date"
           ng-required="true"
           show-button-bar="false"/>
  </div>

  <span class="sc-form-control sc-bold sc-duration"></span>
</div>




