<tr>
  <td class="col-xs-7">
    <p class="sc-bold">{{ item.task.text }}</p>

    <p class="text-muted">{{ item.notes }}</p>
  </td>
  <td class="col-xs-3">
    <p class="sc-bold text-primary">{{ item.project.text }}</p>

    <p class="text-muted">{{ item.client.text }}</p>
  </td>
  <td class="col-xs-2">
    <a ng-href="" ng-click="editTime()">
      <button class="btn btn-primary sc-stop" ng-show="isActive()" ng-click="stopTimer()">
        <span class="glyphicon glyphicon-off sc-animate"></span>
        <label>Stop</label>
      </button>
      <p class="sc-bold">{{ elapsed }}</p>

      <p class="text-muted">{{ startTime() }}</p>

      <p class="text-muted">{{ endTime() }}</p>
    </a>
  </td>
</tr>