<tr>
  <td class="col-xs-7">
    <p class="sc-bold">{{ item.task.text }}</p>

    <p class="text-muted">{{ item.notes }}</p>
  </td>
  <td class="col-xs-3">
    <p class="sc-bold text-primary">{{ item.project.text }}</p>

    <p class="text-muted">{{ item.client.text }}</p>
  </td>
  <td class="col-xs-2">
    <p class="sc-bold" >{{ elapsed }}</p>
    <!--<button class="btn btn-primary" ng-show="isActive()" ng-click="editTime()">-->
      <!--<span class="sc-bold">{{ elapsed }}</span>-->
    <!--</button>-->
    <!--<button class="btn btn-default" ng-click="editTime()">-->
      <!--<span class="glyphicon glyphicon-pencil"></span>-->
    <!--</button>-->

    <p class="text-muted">{{ times() }}</p>

    <!--<p>-->
      <!--<img class="sc-active" ng-show="isActive()" src="/assets/img/clock.gif">-->
    <!--</p>-->
  </td>
</tr>