<tr class="sc-clickable"
    ng-click="editTime()"
    ng-mousedown="event.trackMouse = true"
    ng-mousemove="event.selectingText = event.trackMouse"
    ng-mouseup="event.trackMouse = false">

  <td class="col-xs-8 col-sm-10">
    <h4 class="sc-bold">{{ item.task.text }}</h4>

    <p class="">{{ item.project.text }} ({{ item.client.text }})</p>

    <p class="text-muted">{{ item.notes }}</p>
  </td>
  <td class="col-xs-4 col-sm-2">
    <button class="btn btn-primary sc-stop" ng-show="isActive()" ng-click="stopTimer()">
      <span class="glyphicon glyphicon-off sc-animate"></span>
      <label>Stop</label>
    </button>
    <h4 class="sc-bold">{{ elapsed() }}</h4>

    <p class="">{{ startTime() }} - {{ endTime() }}</p>
  </td>

</tr>
