.manage .nav-tabs {
    margin-bottom: 20px;
}

.manage .add {
    margin-bottom: 20px;
}

.manage .remove .glyphicon {
    color: #D9534F;
}

.manage .update .glyphicon {
    color: #428BCA;
}

.manage .input-group {
    margin-bottom: 10px;
}