nav li.timesheet,
nav li.manage {
    font-size: 34px;
    padding: 7px 12px 0 12px;
    line-height: 43px;
}

nav .nav-pic {
    max-height: 38px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

nav .nav-user {
    padding: 2px 0 0 20px;
}

nav .dropdown-menu {
    left: -58px;
    min-width: 100px;
    text-align: right;
}