nav .navbar-nav {
    margin-right: 0 !important;
}

nav .scrummy button.btn {
    padding: 12px 20px 12px 20px;
}

nav .scrummy button.user.btn {
    padding: 5px 10px 5px 10px;
}

nav .user.btn {
    padding: 0 10px 0 10px;
}

nav .nav-pic {
    max-height: 34px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}