.settings .nav-tabs {
    margin-bottom: 20px;
}

.settings .add {
    margin-bottom: 20px;
}

.settings .remove .glyphicon {
    color: #D9534F;
}

.settings .update .glyphicon {
    color: #428BCA;
}

.settings .input-group {
    margin-bottom: 10px;
}

.settings .no-padding-left {
    padding-left: 0;
}

/*.reduce-10{*/
    /*width: 39.5% !important;*/
/*}*/