.sc-form-control {
    display: inline-block;
    margin-right: 10px;
}

.sc-form-control.sc-last {
    margin-right: 0;
}

.sc-form-control.sc-small {
    width: 100px;
}

.sc-form-control.sc-medium {
    width: 150px;
}