<div class="panel-default">

  <section class="panel-heading">
    <h1 class="panel-title">New Time Entry</h1>
  </section>

  <form role="form" name="timeEntry" ng-submit="timeEntry.$valid && tf.start()" novalidate="">
    <section class="panel-body">
      <div selects sc-data="tf.data" ng-model="tf.timeModel" sc-class="form-control"></div>

      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Notes (optional)"
                  ng-model="tf.timeModel.notes"></textarea>
      </div>

      <div class="form-group form-inline">
        <div time sc-class="form-control sc-form-control sc-small form-inline"
             sc-placeholder="Start Time" sc-model="tf.timeModel.time.start" ng-required="!tf.isToday"></div>
        <span class="sc-form-control">to</span>

        <div time sc-class="form-control sc-form-control sc-small"
             sc-placeholder="End Time" sc-model="tf.timeModel.time.end" ng-required="!tf.isToday"></div>
        <span class="sc-form-control">on</span>

        <div date ng-model="tf.timeModel.time.date" ng-change="tf.checkToday()"></div>
      </div>
    </section>

    <section class="panel-footer">
      <div class="form-group form-inline">
        <button class="btn btn-primary sc-form-control sc-medium" type="submit">Start Timer</button>
        <button class="btn btn-default sc-form-control sc-medium" ng-click="tf.cancel()">Cancel</button>
      </div>
      <pre ng-if="debug">{{ tf.state | json }}</pre>
    </section>
  </form>

</div>
