<div class="col-xs-12">
  <div class="row">

    <div class="sc-header col-xs-2 no-padding-left">
      <button class="btn btn-primary btn-lg" ng-click="ts.open()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>

  {{ ts.count }}

  <div class="panel panel-default" ng-repeat="week in ts.weeks()">
    <table class="table sc-time-table" ng-repeat="day in ts.days(week)">
      <thead class="bg-default">
      <tr>
        <td class="text-danger">{{ day | dayTitle }}</td>
        <td class="text-subdued"></td>
        <td class="text-subdued">Total</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="time in ts.times(week, day)">
        <td class="col-xs-7">
          <p class="sc-bold">{{ time.task.text }}</p>

          <p class="text-muted">{{ time.notes }}</p>
        </td>
        <td class="col-xs-3">
          <p class="sc-bold text-primary">{{ time.project.text }}</p>

          <p class="text-muted">{{ time.client.text }}</p>
        </td>
        <td class="col-xs-2">
          <p class="sc-bold">{{ ts.duration(time) }}</p>

          <p>
            <img class="sc-active" ng-show="ts.active(time)" src="images/clock.gif">
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>