.sc-form-control {
    display: inline-block;
    margin-right: 10px;
}

.sc-form-control.sc-last {
    margin-right: 0;
}

.sc-form-control.sc-small {
    width: 100px;
}

.sc-form-control.sc-medium {
    width: 150px;
}

.sc-color {
    min-height: 26px;
    /*width: 25px;*/
    /*-webkit-border-radius: 100px;*/
    /*-moz-border-radius: 100px;*/
    /*border-radius: 100px;*/
    border-top: 1px solid #D5D5D5;
}

.sc-color.sc-color-last {
    border-bottom: 1px solid #D5D5D5;
}

.sc-color.bg-success:hover {
    /*background-color: green;*/
    opacity: 50;
}

.sc-time-table {
    border-top: 1px solid #DDDDDD;
}

.sc-time-table:first-child {
    border-top: none;
}

.sc-active {
    width: 28px;
}

.sc-rounded-right {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/*.sc-blink {*/
    /*animation: blink 1s steps(5, start) infinite;*/
    /*-webkit-animation: blink 1s steps(5, start) infinite;*/
/*}*/

/*@keyframes blink {*/
    /*to {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/

/*@-webkit-keyframes blink {*/
    /*to {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/