<section class="manage">

  <div ui-view></div>

  <div class="col-xs-12">
    <div class="row">

      <div class="col-xs-7 no-padding-left">
        <form class="add">
          <div class="input-group">
            <input type="text" focus focus-if="{{ a.canFocus }}" class="form-control" placeholder="Add {{ a.placeholder }}" ng-model="a.new.name">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="a.add()">
                <i class="glyphicon glyphicon-plus text-muted"></i>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div search search-id="{{ a.searchId }}" ng-model="a.search.name" ng-class="'col-xs-5'"></div>

    </div>
  </div>

  <div class="input-group" ng-repeat="item in a.items | orderBy:'name' | filter:a.search.name">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="a.remove(item)">
        <i class="glyphicon glyphicon-minus-sign sc-text-danger"></i>
      </button>
    </span>
    <input type="text" class="form-control sc-bold" ng-model="item.name" ng-change="a.update(item)">
    <span class="input-group-btn" ng-if="a.hasTimes(item)">
      <button class="btn btn-default" type="button">
        <span class="badge">{{ a.timesCount(item) }}</span>
      </button>
    </span>
  </div>
</section>