<div class="panel-default">

  <section class="panel-heading">
    <h1 class="panel-title">{{ f.title }}</h1>
  </section>

  <form name="timeForm" novalidate="">
    <section class="panel-body">
      <div selects sc-data="f.viewData" ng-model="f.timeModel" sc-class="form-control"></div>

      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Notes"
                  ng-model="f.timeModel.notes"></textarea>
      </div>

      <div class="form-group form-inline">

        <div class="form-group form-inline" ng-class="{'has-error': timeForm.start.$invalid}">
          <div time name="start" sc-class="form-control sc-form-control sc-small"
               sc-placeholder="Start Time" sc-model="f.timeModel.time.start"
               sc-validate="f.validate(timeForm.start)" sc-change="f.refreshElapsed()">
          </div>
        </div>

        <span class="sc-form-control">to</span>

        <div class="form-group form-inline" ng-class="{'has-error': timeForm.end.$invalid}">
          <div time name="end" sc-class="form-control sc-form-control sc-small"
               sc-placeholder="End Time" sc-model="f.timeModel.time.end"
               sc-validate="f.validate(timeForm.end)" sc-change="f.refreshElapsed()">
          </div>
        </div>

        <span class="sc-form-control">on</span>

        <div date ng-model="f.timeModel.time.date"></div>

        <span class="sc-form-control sc-bold sc-duration">{{ f.elapsed }}</span>
      </div>
    </section>

    <section class="panel-footer">
      <div class="form-group form-inline">
        <button class="btn btn-primary sc-form-control sc-medium" ng-click="timeForm.$valid && f.start()"
                ng-show="f.new">Start Timer
        </button>
        <button class="btn btn-primary sc-form-control sc-medium" ng-click="timeForm.$valid && f.update()"
                ng-hide="f.new">Update
        </button>
        <button class="btn btn-default sc-form-control sc-medium" ng-click="f.cancel()">Cancel</button>
        <a ng-href="" ng-hide="f.new" class="pull-right sc-delete" ng-click="f.delete()">Delete</a>
      </div>
    </section>
  </form>

</div>
