<section class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="sc-header col-xs-2 no-padding-left">
        <button class="btn btn-primary btn-lg" ng-click="ts.addTime()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>

      <div class="sc-times-search" ng-if="ts.allowSearch()">
        <div search focus focus-if="{{ ts.canFocus }}" search-id="nav.times" ng-model="ts.search"
             ng-class="'col-xs-8 col-sm-6 col-md-5 pull-right'"></div>
      </div>

      <div class="sc-times-search" ng-if="ts.allowSearchAdmin()">
        <div search ng-model="ts.searchAdmin.text" ng-disabled="true"
             ng-class="'col-xs-8 col-sm-6 col-md-5 pull-right'"></div>
      </div>
    </div>

    <div class="well sc-jumbotron sc-text-muted" ng-if="ts.noData">
      <h3>There's nothing here!</h3>

      <p>Zzzzzzzzz...</p>
    </div>

    <div class="panel panel-default" ng-repeat="week in ts.weeks()">
      <table class="table table-hover sc-time-table" ng-repeat="day in ts.days(week)">
        <thead class="bg-default">
        <tr>
          <td class="text-primary">{{ ts.dayTitle(day) }}</td>
          <td class="text-subdued"></td>
        </tr>
        </thead>
        <tbody>
        <tr time-item ng-if="ts.allowSearch()" ng-repeat="time in ts.times(week, day) | filter:ts.search"
            ng-model="time"
            sc-data="ts.viewData">
        </tr>
        <tr time-item ng-if="ts.allowSearchAdmin()" ng-repeat="time in ts.times(week, day) | filter:ts.searchAdmin.id"
            ng-model="time"
            sc-data="ts.viewData">
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>