<section class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="sc-header col-xs-3 col-sm-2 no-padding-left">
        <button class="btn btn-primary btn-lg" ng-click="ts.addTime()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>

      <div ng-if="ts.noTimes">
        <img src="../../assets/img/arrow.png">
      </div>

      <div class="sc-times-search" ng-if="ts.allowSearch()">
        <div search focus focus-if="{{ ts.canFocus }}" search-id="nav.times" ng-model="ts.search"
             ng-class="'col-xs-8 col-sm-6 col-md-5 pull-right'"
             sc-clear="ts.clearSearch()"></div>
      </div>

      <div class="sc-times-search" ng-if="ts.allowSearchAdmin()">
        <div search ng-model="ts.searchAdmin" ng-disabled="true"
             ng-class="'col-xs-8 col-sm-6 col-md-5 pull-right'"
             sc-clear="ts.clearAdminSearch()"></div>
      </div>
    </div>

    <div class="alert alert-info sc-centre" ng-if="ts.dataMissing">
      <p><strong>Select the blue button</strong> to add at least one client, project and task.</p>
      <p><strong>Then come back</strong> to this screen and select it again to create a time entry.</p>
    </div>

    <div class="alert alert-info sc-centre" ng-if="ts.noTimes && !ts.dataMissing">
      <p><strong>Select the blue button</strong> to create a time entry.</p>
    </div>

    <div class="well sc-jumbotron sc-text-muted" ng-if="ts.noTimes">
      <p>Zzzzzzzzz...</p>
    </div>

    <div class="panel panel-default" ng-repeat="week in ts.weeks()">
      <table class="table table-hover sc-time-table" ng-repeat="day in ts.days(week)">
        <thead class="bg-default">
        <tr>
          <td class="text-primary">{{ ts.dayTitle(day) }}</td>
          <td class="text-primary">{{ ts.durations(week, day) }}</td>
        </tr>
        </thead>
        <tbody>
        <tr time-item ng-if="ts.allowSearch()" ng-repeat="time in ts.times(week, day) | filter:ts.search.text"
            ng-model="time"
            sc-data="ts.viewData">
        </tr>
        <tr time-item ng-if="ts.allowSearchAdmin()" ng-repeat="time in ts.times(week, day) | filter:ts.searchAdmin.id"
            ng-model="time"
            sc-data="ts.viewData">
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>