<div class="container">
  <form class="form-login" ng-submit="log.login(log.user)" role="form">

    <h2 class="form-login-heading">
      Log in here or <a ng-href="{{ log.urlFor('register') }}">register</a>
    </h2>

    <p ng-show="log.error" class="text-danger">{{ log.error }}</p>

    <input type="email" class="form-control" placeholder="Email address" ng-model="log.user.email" required="" autofocus="">
    <input type="password" class="last form-control" placeholder="Password" ng-model="log.user.password" required="">

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
</div>