<tabset class="manage">
  <tab heading="Clients">

    <form class="add" ng-submit="man.add()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add a new client" ng-model="man.newClient.name">
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Add"/>
      </span>
      </div>
    </form>

    <div class="input-group" ng-repeat="(id, client) in man.clients">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="man.remove(id)">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
      </span>
      <input type="text" class="form-control" ng-model="client.name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="man.update(id, client)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div>

  </tab>

  <tab heading="Projects">
    <form ng-submit="user.saveProject()">
      <div class="form-group">
        <div class="form-inline">
          <input type="text" name="project" class="form-control" placeholder="Project"/>
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </tab>

  <tab heading="Tasks">Long Labeled Justified content</tab>
</tabset>

