<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav nav-pills navbar-right">
      <li class="nav" ng-hide="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('home') }}"><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="nav" ng-show="nav.isLoggedIn()" ng-click="nav.logout()">
        <a ng-href="{{ nav.urlFor('current') }}">Log Out</a>
      </li>
      <li class="nav" ng-class="{active: nav.isLocation('login')}" ng-hide="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('login') }}">Log In</a>
      </li>
      <li class="nav" ng-class="{active: nav.isLocation('register')}" ng-hide="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('register') }}">Register</a>
      </li>
      <li class="nav" ng-class="{active: nav.isLocation('timesheet')}" ng-show="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('timesheet') }}">Timesheet</a>
      </li>
      <li class="nav" ng-class="{active: nav.isLocation('manage')}" ng-show="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('manage') }}">Manage</a>
      </li>
      <li class="nav" ng-class="{active: nav.isLocation('user')}" ng-show="nav.isLoggedIn()">
        <a ng-href="{{ nav.urlFor('user') }}">User</a>
      </li>
    </ul>
  </div>
</div>