<div class="container">
  <form class="form-login" role="form" ng-submit="auth.register(auth.user)">

    <h2 class="form-login-heading">Register here</h2>

    <input type="email" class="form-control" placeholder="Email address" ng-model="auth.user.email" required=""
           autofocus="" ng-focus="auth.focus()">
    <input type="password" class="first form-control" placeholder="Password" ng-model="auth.user.password" required=""
           ng-focus="auth.focus()">
    <input type="password" class="last form-control" placeholder="Confirm password" ng-model="auth.user.confirmPassword"
           required="" ng-focus="auth.focus()">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    <alert type="danger" ng-show="auth.error">{{ auth.error }}</alert>
  </form>
</div>