<div class="container">
  <form class="form-signin" ng-submit="sc.signin(sc.user)" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p ng-show="sc.error" class="text-danger">{{ sc.error }}</p>
    <input type="email" class="form-control" placeholder="Email address" ng-model="sc.user.email" required="" autofocus="">
    <input type="password" class="last form-control" placeholder="Password" ng-model="sc.user.password" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>