<div class="col-xs-12">
  <div class="row">

    <div class="col-xs-2 no-padding-left">
      <button class="btn btn-primary btn-lg" ng-click="timesheet.open()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <div class="input-group col-xs-10">
      <input type="text" class="form-control" placeholder="Search" ng-model="manage.search.name">
        <span class="input-group-addon" ng-hide="manage.searching()">
          <span class="glyphicon glyphicon-search text-muted"></span>
        </span>
        <span class="input-group-btn" ng-if="manage.searching()">
          <button class="btn btn-default" type="button" ng-click="manage.clearSearch()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
    </div>
  </div>

  <!--<div class="list-group" ng-repeat="time in timesheet.times">-->
  <!--<a href="#" class="list-group-item">-->
  <!--<h4 class="list-group-item-heading">List group item heading</h4>-->
  <!--<p class="list-group-item-text">While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.</p>-->
  <!--</a>-->
  <!--</div>-->

  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="time in timesheet.times">Cras justo odio</li>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="time in timesheet.times">Cras justo odio</li>
    </ul>
  </div>

</div>