<div class="col-xs-12">
  <div class="row">

    <div class="col-xs-2 no-padding-left">
      <button class="btn btn-primary btn-lg" ng-click="timesheet.open()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <div class="input-group col-xs-10">
      <input type="text" class="form-control" placeholder="Search" ng-model="manage.search.name">
        <span class="input-group-addon" ng-hide="manage.searching()">
          <span class="glyphicon glyphicon-search text-muted"></span>
        </span>
        <span class="input-group-btn" ng-if="manage.searching()">
          <button class="btn btn-default" type="button" ng-click="manage.clearSearch()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
    </div>
  </div>

  <div class="panel panel-default">
    <table class="table">
      <thead class="bg-default text-muted">
      <tr>
        <td class="sc-bold">Day</td>
        <td class="sc-bold">Total</td>
        <td class="sc-bold"></td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="time in timesheet.times | orderBy:'time.time.date'">
        <td>
          <p class="sc-bold">{{ time.task.text }}</p>

          <p class="text-muted">{{ time.notes }}</p>
        </td>
        <td class="sc-bold">{{ time.time.start }}</td>
        <td>
          <p class="text-primary sc-bold">{{ time.project.text }}</p>

          <p class="text-muted">{{ time.client.text }}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>