<div class="panel-default">

  <section class="panel-heading">
    <h1 class="panel-title">New Time Entry</h1>
  </section>

  <form role="form" name="timeEntry" ng-submit="timeEntry.$valid && time.start()" novalidate="">
    <section class="panel-body">
      <div selects sc-data="time.data" sc-state="time.timeEntryState" sc-model="time.timeEntry" sc-class="form-control"></div>

      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Notes (optional)"
                  ng-model="time.timeEntry.notes"></textarea>
      </div>

      <div class="form-group form-inline">
        <div time sc-class="form-control sc-form-control sc-small" ng-class="{'sc-bold': time.time.time.start}"
             sc-placeholder="Start Time" sc-model="time.timeEntry.time.start"></div>
        <span class="sc-form-control">to</span>

        <div time sc-class="form-control sc-form-control sc-small" ng-class="{'sc-bold': time.time.time.end}"
             sc-placeholder="End Time" sc-model="time.timeEntry.time.end" ng-required="!time.isToday"></div>
        <span class="sc-form-control">on</span>

        <div date sc-model="time.timeEntry.time.start"></div>
      </div>
    </section>

    <section class="panel-footer">
      <div class="form-group form-inline">
        <button class="btn btn-primary sc-form-control sc-medium" type="submit">Start Timer</button>
        <button class="btn btn-default sc-form-control sc-medium" ng-click="time.cancel()">Cancel</button>
      </div>
      <pre ng-if="debug">{{ time.state | json }}</pre>
    </section>
  </form>

</div>
